.12_101 { 
	overflow:hidden;
}
.e12_101 { 
	width:1366px;
	height:1619px;
	position:absolute;
}
.e65_0 { 
	background-color:rgba(16.000000946223736, 35.00000171363354, 74.0000031888485, 1);
	width:1366px;
	height:1244px;
	position:absolute;
	left:0px;
	top:126px;
}
.e12_102 { 
	background-color:rgba(255, 255, 255, 1);
	width:1366px;
	height:249px;
	position:absolute;
	left:0px;
	top:1370px;
}
.e67_319 { 
	width:170px;
	height:149.1402130126953px;
	position:absolute;
	left:141px;
	top:1393.918212890625px;
}
.e67_320 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:170px;
	height:76px;
	position:absolute;
	left:0px;
	top:42.0833740234375px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e67_321 { 
	transform: rotate(-16.499998868479608deg);
	opacity:0.3100000023841858;
	width:120px;
	height:120px;
	position:absolute;
	left:1.998046875px;
	top:34.081787109375px;
}
.e67_322 { 
	transform: rotate(-16.499998868479608deg);
	width:120px;
	height:120.00001525878906px;
	position:absolute;
	left:0px;
	top:0px;
}
.e67_323 { 
	width:120px;
	height:120.00001525878906px;
	position:absolute;
	left:0px;
	top:0px;
}
.e67_324 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:110.00003814697266px;
	height:95.00000762939453px;
	position:absolute;
	left:4.999924182891846px;
	top:15.000035285949707px;
}
.e12_103 { 
	background-color:rgba(238.00000101327896, 180.00000447034836, 1.0000000591389835, 1);
	width:1366px;
	height:126px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_105 { 
	color:rgba(255, 255, 255, 1);
	width:71px;
	height:16px;
	position:absolute;
	left:193px;
	top:186px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_108 { 
	color:rgba(255, 255, 255, 1);
	width:52px;
	height:16px;
	position:absolute;
	left:276px;
	top:186px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_112 { 
	color:rgba(255, 255, 255, 1);
	width:82px;
	height:16px;
	position:absolute;
	left:340px;
	top:186px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_113 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:176px;
	height:42px;
	position:absolute;
	left:1160px;
	top:42px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.12_113 { 
	border:2px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}
.e12_114 { 
	color:rgba(255, 255, 255, 1);
	width:146px;
	height:16px;
	position:absolute;
	left:1175px;
	top:55px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.12_115 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e12_115 { 
	width:48px;
	height:0px;
	position:absolute;
	left:208px;
	top:206px;
}
.e12_116 { 
	background-color:rgba(238.00000101327896, 180.00000447034836, 1.0000000591389835, 1);
	width:304px;
	height:477px;
	position:absolute;
	left:30px;
	top:242px;
}
.e67_331 { 
	background-color:rgba(255, 255, 255, 1);
	width:304px;
	height:477px;
	position:absolute;
	left:30px;
	top:749px;
}
.e12_119 { 
	background-color:rgba(255, 255, 255, 1);
	width:304px;
	height:477px;
	position:absolute;
	left:364px;
	top:242px;
}
.e67_332 { 
	background-color:rgba(255, 255, 255, 1);
	width:304px;
	height:477px;
	position:absolute;
	left:364px;
	top:749px;
}
.e12_122 { 
	background-color:rgba(255, 255, 255, 1);
	width:304px;
	height:477px;
	position:absolute;
	left:698px;
	top:242px;
}
.e67_333 { 
	background-color:rgba(255, 255, 255, 1);
	width:304px;
	height:477px;
	position:absolute;
	left:698px;
	top:749px;
}
.e12_125 { 
	background-color:rgba(255, 255, 255, 1);
	width:304px;
	height:477px;
	position:absolute;
	left:1032px;
	top:242px;
}
.e67_334 { 
	background-color:rgba(255, 255, 255, 1);
	width:304px;
	height:477px;
	position:absolute;
	left:1032px;
	top:749px;
}
.e12_128 { 
	width:277px;
	height:188px;
	position:absolute;
	left:43px;
	top:249px;
	background-image:url(images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e67_335 { 
	width:277px;
	height:188px;
	position:absolute;
	left:43px;
	top:756px;
	background-image:url(images/rectangle_91.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_131 { 
	width:277px;
	height:188px;
	position:absolute;
	left:377px;
	top:249px;
	background-image:url(images/rectangle_20.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e67_336 { 
	width:277px;
	height:188px;
	position:absolute;
	left:377px;
	top:756px;
	background-image:url(images/rectangle_92.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_134 { 
	width:277px;
	height:188px;
	position:absolute;
	left:711px;
	top:249px;
	background-image:url(images/rectangle_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e67_337 { 
	width:277px;
	height:188px;
	position:absolute;
	left:711px;
	top:756px;
	background-image:url(images/rectangle_93.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_137 { 
	width:304px;
	height:198px;
	position:absolute;
	left:1032px;
	top:244px;
	background-image:url(images/rectangle_23.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e67_338 { 
	width:304px;
	height:198px;
	position:absolute;
	left:1032px;
	top:751px;
	background-image:url(images/rectangle_94.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_140 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:228px;
	height:28px;
	position:absolute;
	left:62px;
	top:457px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e67_339 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:228px;
	height:28px;
	position:absolute;
	left:62px;
	top:964px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_143 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:396px;
	top:457px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e67_340 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:217px;
	height:28px;
	position:absolute;
	left:396px;
	top:964px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_146 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:174px;
	height:28px;
	position:absolute;
	left:730px;
	top:457px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e67_341 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:174px;
	height:28px;
	position:absolute;
	left:730px;
	top:964px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_149 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:174px;
	height:28px;
	position:absolute;
	left:1064px;
	top:457px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e67_342 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:174px;
	height:28px;
	position:absolute;
	left:1064px;
	top:964px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e12_152 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:131px;
	height:16px;
	position:absolute;
	left:62px;
	top:529px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_343 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:131px;
	height:16px;
	position:absolute;
	left:62px;
	top:1036px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_155 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:131px;
	height:16px;
	position:absolute;
	left:396px;
	top:529px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_344 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:131px;
	height:16px;
	position:absolute;
	left:396px;
	top:1036px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_158 { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:16px;
	position:absolute;
	left:730px;
	top:529px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_345 { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:16px;
	position:absolute;
	left:730px;
	top:1036px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_161 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:131px;
	height:16px;
	position:absolute;
	left:1064px;
	top:529px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_346 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:131px;
	height:16px;
	position:absolute;
	left:1064px;
	top:1036px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_164 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:170px;
	height:16px;
	position:absolute;
	left:62px;
	top:557px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_347 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:170px;
	height:16px;
	position:absolute;
	left:62px;
	top:1064px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_167 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:117px;
	height:16px;
	position:absolute;
	left:62px;
	top:613px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_348 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:117px;
	height:16px;
	position:absolute;
	left:62px;
	top:1120px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_168 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:117px;
	height:16px;
	position:absolute;
	left:396px;
	top:613px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_349 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:117px;
	height:16px;
	position:absolute;
	left:396px;
	top:1120px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_169 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:117px;
	height:16px;
	position:absolute;
	left:730px;
	top:613px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_350 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:117px;
	height:16px;
	position:absolute;
	left:730px;
	top:1120px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_170 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:117px;
	height:16px;
	position:absolute;
	left:1064px;
	top:613px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_351 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:117px;
	height:16px;
	position:absolute;
	left:1064px;
	top:1120px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_173 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:170px;
	height:16px;
	position:absolute;
	left:396px;
	top:557px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_352 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:170px;
	height:16px;
	position:absolute;
	left:396px;
	top:1064px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_176 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:170px;
	height:16px;
	position:absolute;
	left:730px;
	top:557px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_353 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:170px;
	height:16px;
	position:absolute;
	left:730px;
	top:1064px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_179 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:170px;
	height:16px;
	position:absolute;
	left:1064px;
	top:557px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_354 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:170px;
	height:16px;
	position:absolute;
	left:1064px;
	top:1064px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_182 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:123px;
	height:16px;
	position:absolute;
	left:62px;
	top:501px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_355 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:123px;
	height:16px;
	position:absolute;
	left:62px;
	top:1008px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_185 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:173px;
	height:16px;
	position:absolute;
	left:62px;
	top:585px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_356 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:173px;
	height:16px;
	position:absolute;
	left:62px;
	top:1092px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_188 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:173px;
	height:16px;
	position:absolute;
	left:396px;
	top:585px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_357 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:173px;
	height:16px;
	position:absolute;
	left:396px;
	top:1092px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_191 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:173px;
	height:16px;
	position:absolute;
	left:730px;
	top:585px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_358 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:173px;
	height:16px;
	position:absolute;
	left:730px;
	top:1092px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_194 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:173px;
	height:16px;
	position:absolute;
	left:1064px;
	top:585px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_359 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:173px;
	height:16px;
	position:absolute;
	left:1064px;
	top:1092px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_197 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:123px;
	height:16px;
	position:absolute;
	left:396px;
	top:501px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_360 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:123px;
	height:16px;
	position:absolute;
	left:396px;
	top:1008px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_200 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:123px;
	height:16px;
	position:absolute;
	left:730px;
	top:501px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_361 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:123px;
	height:16px;
	position:absolute;
	left:730px;
	top:1008px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_203 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:123px;
	height:16px;
	position:absolute;
	left:1064px;
	top:501px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_362 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:123px;
	height:16px;
	position:absolute;
	left:1064px;
	top:1008px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_218 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:240px;
	height:42px;
	position:absolute;
	left:62px;
	top:653px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.e12_221 { 
	color:rgba(255, 255, 255, 1);
	width:56px;
	height:16px;
	position:absolute;
	left:154px;
	top:666px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_224 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:46px;
	height:16px;
	position:absolute;
	left:475px;
	top:1424px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_225 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:97px;
	height:16px;
	position:absolute;
	left:809px;
	top:1424px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_226 { 
	background-color:rgba(255, 255, 255, 1);
	width:99px;
	height:32px;
	position:absolute;
	left:30px;
	top:180px;
}
.e12_229 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:54px;
	height:16px;
	position:absolute;
	left:46px;
	top:188px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_232 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:20px;
	height:16px;
	position:absolute;
	left:268px;
	top:613px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_365 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:20px;
	height:16px;
	position:absolute;
	left:268px;
	top:1120px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_233 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:20px;
	height:16px;
	position:absolute;
	left:602px;
	top:613px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_366 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:20px;
	height:16px;
	position:absolute;
	left:602px;
	top:1120px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_234 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:20px;
	height:16px;
	position:absolute;
	left:936px;
	top:613px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_367 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:20px;
	height:16px;
	position:absolute;
	left:936px;
	top:1120px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_235 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:20px;
	height:16px;
	position:absolute;
	left:1270px;
	top:613px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e67_368 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:20px;
	height:16px;
	position:absolute;
	left:1270px;
	top:1120px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_238 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:219px;
	height:16px;
	position:absolute;
	left:141px;
	top:1536px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_253 { 
	width:14px;
	height:14px;
	position:absolute;
	left:288px;
	top:614px;
}
.e12_254 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_254_1_818 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:1.1666667461395264px;
	top:1.75px;
}
.ei12_254_1_819 { 
	width:9.62459945678711px;
	height:9.042386054992676px;
	position:absolute;
	left:0.8750693798065186px;
	top:0.875px;
}
.ei12_254_1_820 { 
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:0px;
	top:0px;
}
.e67_369 { 
	width:14px;
	height:14px;
	position:absolute;
	left:288px;
	top:1121px;
}
.e67_370 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei67_370_1_818 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:1.1666667461395264px;
	top:1.75px;
}
.ei67_370_1_819 { 
	width:9.62459945678711px;
	height:9.042386054992676px;
	position:absolute;
	left:0.8750693798065186px;
	top:0.875px;
}
.ei67_370_1_820 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:0px;
	top:0px;
}
.i67_370_1_820 { 
	border:0px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}
.e12_255 { 
	width:14px;
	height:14px;
	position:absolute;
	left:622px;
	top:614px;
}
.e12_256 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_256_1_818 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:1.1666667461395264px;
	top:1.75px;
}
.ei12_256_1_819 { 
	width:9.62459945678711px;
	height:9.042386054992676px;
	position:absolute;
	left:0.8750693798065186px;
	top:0.875px;
}
.ei12_256_1_820 { 
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:0px;
	top:0px;
}
.e67_371 { 
	width:14px;
	height:14px;
	position:absolute;
	left:622px;
	top:1121px;
}
.e67_372 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei67_372_1_818 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:1.1666667461395264px;
	top:1.75px;
}
.ei67_372_1_819 { 
	width:9.62459945678711px;
	height:9.042386054992676px;
	position:absolute;
	left:0.8750693798065186px;
	top:0.875px;
}
.ei67_372_1_820 { 
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_257 { 
	width:14px;
	height:14px;
	position:absolute;
	left:956px;
	top:614px;
}
.e12_258 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_258_1_818 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:1.1666667461395264px;
	top:1.75px;
}
.ei12_258_1_819 { 
	width:9.62459945678711px;
	height:9.042386054992676px;
	position:absolute;
	left:0.8750693798065186px;
	top:0.875px;
}
.ei12_258_1_820 { 
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:0px;
	top:0px;
}
.e67_373 { 
	width:14px;
	height:14px;
	position:absolute;
	left:956px;
	top:1121px;
}
.e67_374 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei67_374_1_818 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:1.1666667461395264px;
	top:1.75px;
}
.ei67_374_1_819 { 
	width:9.62459945678711px;
	height:9.042386054992676px;
	position:absolute;
	left:0.8750693798065186px;
	top:0.875px;
}
.ei67_374_1_820 { 
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_259 { 
	width:14px;
	height:14px;
	position:absolute;
	left:1290px;
	top:614px;
}
.e12_260 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_260_1_818 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:1.1666667461395264px;
	top:1.75px;
}
.i12_260_1_818 { 
	border:0px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}
.i12_260_1_819 { 
	border:0px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}
.ei12_260_1_819 { 
	width:9.62459945678711px;
	height:9.042386054992676px;
	position:absolute;
	left:0.8750693798065186px;
	top:0.875px;
}
.i12_260_1_820 { 
	border:0px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}
.ei12_260_1_820 { 
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:0px;
	top:0px;
}
.e67_375 { 
	width:14px;
	height:14px;
	position:absolute;
	left:1290px;
	top:1121px;
}
.e67_376 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei67_376_1_818 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:1.1666667461395264px;
	top:1.75px;
}
.ei67_376_1_819 { 
	width:9.62459945678711px;
	height:9.042386054992676px;
	position:absolute;
	left:0.8750693798065186px;
	top:0.875px;
}
.ei67_376_1_820 { 
	width:11.374791145324707px;
	height:10.791930198669434px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_268 { 
	width:415px;
	height:42px;
	position:absolute;
	left:253px;
	top:42px;
}
.e12_269 { 
	background-color:rgba(255, 255, 255, 1);
	width:415px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.e12_270 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	opacity:0.800000011920929;
	width:110px;
	height:16px;
	position:absolute;
	left:20px;
	top:12.999993324279785px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_271 { 
	transform: rotate(89.99999693897087deg);
	opacity:0.800000011920929;
	width:24px;
	height:0px;
	position:absolute;
	left:359px;
	top:8.999984741210938px;
}
.12_271 { 
	border:1px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}
.e12_272 { 
	width:24px;
	height:24px;
	position:absolute;
	left:628px;
	top:51px;
}
.e12_273 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_274 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_274_1_182 { 
	width:20.263999938964844px;
	height:20.721698760986328px;
	position:absolute;
	left:2px;
	top:2px;
}
.ei12_274_1_183 { 
	width:19.4768009185791px;
	height:19.476999282836914px;
	position:absolute;
	left:0px;
	top:0px;
}
.i12_274_1_184 { 
	overflow:hidden;
}
.ei12_274_1_184 { 
	background-color:rgba(0, 0, 0, 1);
	width:19.4768009185791px;
	height:19.476999282836914px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_274_1_185 { 
	background-color:rgba(19.0000007674098, 15.000000055879354, 38.0000015348196, 1);
	width:19.476999282836914px;
	height:19.476999282836914px;
	position:absolute;
	left:-0.00019999999494757503px;
	top:0px;
}
.ei12_274_1_186 { 
	width:16.476999282836914px;
	height:16.476999282836914px;
	position:absolute;
	left:1.5px;
	top:1.5px;
}
.ei12_274_1_187 { 
	width:19.476999282836914px;
	height:19.476999282836914px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_274_1_188 { 
	width:5.024050712585449px;
	height:5.014750003814697px;
	position:absolute;
	left:15.239949226379395px;
	top:15.706949234008789px;
}
.i12_274_1_189 { 
	overflow:hidden;
}
.ei12_274_1_189 { 
	background-color:rgba(0, 0, 0, 1);
	width:5.024050712585449px;
	height:5.014750003814697px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_274_1_190 { 
	background-color:rgba(19.0000007674098, 15.000000055879354, 38.0000015348196, 1);
	width:5.024501323699951px;
	height:5.014750003814697px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_276 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:219px;
	height:32px;
	position:absolute;
	left:501px;
	top:1464px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_277 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:188px;
	height:16px;
	position:absolute;
	left:501px;
	top:1508px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_278 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:79px;
	height:16px;
	position:absolute;
	left:501px;
	top:1536px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_279 { 
	width:14px;
	height:14px;
	position:absolute;
	left:475px;
	top:1538px;
}
.e12_280 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_280_1_404 { 
	width:11.958090782165527px;
	height:11.958041191101074px;
	position:absolute;
	left:1.1669044494628906px;
	top:1.1667649745941162px;
}
.i12_280_1_405 { 
	overflow:hidden;
}
.ei12_280_1_405 { 
	background-color:rgba(0, 0, 0, 1);
	width:11.958090782165527px;
	height:11.958041191101074px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_280_1_406 { 
	background-color:rgba(19.0000007674098, 15.000000055879354, 38.0000015348196, 1);
	width:11.958488464355469px;
	height:11.95842170715332px;
	position:absolute;
	left:0px;
	top:-0.00034821033477783203px;
}
.ei12_280_1_407 { 
	width:10.208967208862305px;
	height:10.208332061767578px;
	position:absolute;
	left:0.8750209808349609px;
	top:0.8750518560409546px;
}
.ei12_280_1_408 { 
	width:11.958488464355469px;
	height:11.95842170715332px;
	position:absolute;
	left:0px;
	top:-1.7763568394002505e-15px;
}
.e12_281 { 
	width:14px;
	height:14px;
	position:absolute;
	left:475px;
	top:1510px;
}
.e12_282 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_282_1_758 { 
	width:12.541609764099121px;
	height:11.374999046325684px;
	position:absolute;
	left:0.5833333730697632px;
	top:1.1666667461395264px;
}
.ei12_282_1_759 { 
	background-color:rgba(19.0000007674098, 15.000000055879354, 38.0000015348196, 1);
	width:7.749192714691162px;
	height:3.274783134460449px;
	position:absolute;
	left:2.402364730834961px;
	top:3.4130403995513916px;
}
.ei12_282_1_760 { 
	width:12.541609764099121px;
	height:11.374999046325684px;
	position:absolute;
	left:0px;
	top:0px;
}
.i12_282_1_761 { 
	overflow:hidden;
}
.ei12_282_1_761 { 
	background-color:rgba(0, 0, 0, 1);
	width:12.541609764099121px;
	height:11.374999046325684px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_282_1_762 { 
	background-color:rgba(19.0000007674098, 15.000000055879354, 38.0000015348196, 1);
	width:12.541666030883789px;
	height:11.374999046325684px;
	position:absolute;
	left:-0.00006186962127685547px;
	top:0px;
}
.ei12_282_1_763 { 
	width:10.791666984558105px;
	height:9.625px;
	position:absolute;
	left:0.8749998807907104px;
	top:0.8749997615814209px;
}
.ei12_282_1_764 { 
	width:12.541666030883789px;
	height:11.374999046325684px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_283 { 
	width:14px;
	height:14px;
	position:absolute;
	left:475px;
	top:1464px;
}
.e12_284 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_284_1_848 { 
	width:9.62470817565918px;
	height:11.374999046325684px;
	position:absolute;
	left:2.3333334922790527px;
	top:1.1666667461395264px;
}
.ei12_284_1_849 { 
	background-color:rgba(19.0000007674098, 15.000000055879354, 38.0000015348196, 1);
	width:3.7916665077209473px;
	height:3.7916669845581055px;
	position:absolute;
	left:2.916963577270508px;
	top:2.916666269302368px;
}
.ei12_284_1_850 { 
	width:2.0416665077209473px;
	height:2.0416669845581055px;
	position:absolute;
	left:0.875px;
	top:0.875px;
}
.ei12_284_1_851 { 
	width:3.7916665077209473px;
	height:3.7916669845581055px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_284_1_852 { 
	width:9.62470817565918px;
	height:11.374999046325684px;
	position:absolute;
	left:0px;
	top:0px;
}
.i12_284_1_853 { 
	overflow:hidden;
}
.ei12_284_1_853 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.62470817565918px;
	height:11.374999046325684px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_284_1_854 { 
	background-color:rgba(19.0000007674098, 15.000000055879354, 38.0000015348196, 1);
	width:9.625px;
	height:11.374999046325684px;
	position:absolute;
	left:-0.0002968311309814453px;
	top:0px;
}
.ei12_284_1_855 { 
	width:7.875px;
	height:9.62266731262207px;
	position:absolute;
	left:0.875px;
	top:0.8749997615814209px;
}
.ei12_284_1_856 { 
	width:9.625px;
	height:11.374999046325684px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_285 { 
	background-color:rgba(255, 255, 255, 1);
	width:416px;
	height:42px;
	position:absolute;
	left:809px;
	top:1464px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.12_285 { 
	border:1px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}
.e12_286 { 
	background-color:rgba(255, 255, 255, 1);
	width:322px;
	height:42px;
	position:absolute;
	left:809px;
	top:1519px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.12_286 { 
	border:1px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}
.e12_287 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	opacity:0.800000011920929;
	width:238px;
	height:16px;
	position:absolute;
	left:833px;
	top:1477px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_288 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	opacity:0.800000011920929;
	width:67px;
	height:16px;
	position:absolute;
	left:833px;
	top:1532px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_289 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:82px;
	height:42px;
	position:absolute;
	left:1143px;
	top:1519px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.12_289 { 
	border:1px solid rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
}
.e12_290 { 
	color:rgba(255, 255, 255, 1);
	width:22px;
	height:16px;
	position:absolute;
	left:1173px;
	top:1532px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e12_291 { 
	background-color:rgba(223.125, 223.125, 223.125, 1);
	width:6px;
	height:102px;
	position:absolute;
	left:1360px;
	top:11px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}
.e12_340 { 
	width:14px;
	height:14px;
	position:absolute;
	left:101px;
	top:190px;
}
.e12_341 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_341_1_177 { 
	width:14px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei12_341_1_177_0_4173 { 
	width:9.333332061767578px;
	height:5.25px;
	position:absolute;
	left:2.3333334922790527px;
	top:4.375px;
}
.ei12_341_1_177_0_4174 { 
	background-color:rgba(19.0000007674098, 15.000000055879354, 38.0000015348196, 1);
	width:9.333332061767578px;
	height:5.25px;
	position:absolute;
	left:0px;
	top:0px;
}
.e12_361 { 
	background-color:rgba(238.00000101327896, 180.00000447034836, 1.0000000591389835, 1);
	width:120px;
	height:42px;
	position:absolute;
	left:629px;
	top:1274px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.e12_109 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:65px;
	height:16px;
	position:absolute;
	left:657px;
	top:1287px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e105_0 { 
	width:122px;
	height:107.030029296875px;
	position:absolute;
	left:30px;
	top:8.541268348693848px;
}
.e67_309 { 
	color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:122px;
	height:55px;
	position:absolute;
	left:0px;
	top:27.458730697631836px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e67_310 { 
	transform: rotate(-16.499998868479608deg);
	opacity:0.3100000023841858;
	width:86.11764526367188px;
	height:86.11764526367188px;
	position:absolute;
	left:1.43408203125px;
	top:24.458730697631836px;
}
.e67_311 { 
	transform: rotate(-16.499998868479608deg);
	width:86.11764526367188px;
	height:86.11766052246094px;
	position:absolute;
	left:0px;
	top:0px;
}
.e67_312 { 
	width:86.11764526367188px;
	height:86.11766052246094px;
	position:absolute;
	left:0px;
	top:0px;
}
.e67_313 { 
	background-color:rgba(20.000000707805157, 44.000001177191734, 92.00000211596489, 1);
	width:78.94120025634766px;
	height:68.17648315429688px;
	position:absolute;
	left:3.5881993770599365px;
	top:10.764735221862793px;
}

